<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cs131.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>115400B820C1A669008F6AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115400CF20C1A66B008F6AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>115400DA20C1A66B008F6AB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
